In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [3]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

date_index = pd.date_range(start='2023-01-01', periods=n_rows, freq='D')
df.index = date_index

print(df)

            col1  col2
2023-01-01    18     6
2023-01-02    19    14
2023-01-03     1    10
2023-01-04    15    16
2023-01-05    10    11
...          ...   ...
2023-12-27    13    10
2023-12-28    13     2
2023-12-29    10     4
2023-12-30    19     3
2023-12-31    16     2

[365 rows x 2 columns]

In [4]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2023-01-02    19    14
2023-01-03     1    10
2023-01-04    15    16
2023-01-05    10    11
2023-01-06    18    10
2023-01-09     3    12
2023-01-10    15     6

In [5]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2023-01-01    18     6
2023-01-07    17     5
2023-01-08     8     5
2023-01-14    18     9
2023-01-15    16    19
2023-01-21     5    15
2023-01-22     8    17