In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  10  15   9   9   6
1  18  14  17  13  11
2  18  12  19   5  11
3   8   6  15   6  14
4  14   1  17   1  13

In [4]:
df.query('A > 10')

    A   B   C   D   E
1  18  14  17  13  11
2  18  12  19   5  11
4  14   1  17   1  13

In [5]:
rerata = df['A'].mean()
rerata

13.6

In [6]:
df.query('A > @rerata')

    A   B   C   D   E
1  18  14  17  13  11
2  18  12  19   5  11
4  14   1  17   1  13