In [7]:
import pandas as pd

print(pd.__version__)

2.2.0

In [8]:
d = {'pelanggan':[11, 12, 13, 14], 
     'kepuasan':['baik', 'cukup', 'buruk', 'sangat baik']}

df = pd.DataFrame(d)
df

   pelanggan     kepuasan
0         11         baik
1         12        cukup
2         13        buruk
3         14  sangat baik

In [9]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangat baik'], 
                                    ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan     kepuasan
0         11         baik
1         12        cukup
2         13        buruk
3         14  sangat baik

In [10]:
df = df.sort_values('kepuasan', ascending=True)
df

   pelanggan     kepuasan
2         13        buruk
1         12        cukup
0         11         baik
3         14  sangat baik